body
	{
	     background-color: #c8c0e7;
	}

h1
	{
	     background-color: white;
	     font-face: rockwell extra bold;
             font-size: 40px;
             color: pink;
             border: solid;
             border-color: #664466;
             border-radius: 50px;
	}

p	
	{
	     background-color: white;
             font-size: 30px;
             text-align: center;
             color: #520a1e;
             font-family: 'Marck Script', cursive;
             padding: 15px;
	}

a:link, a:visited
	{
	background-color: black;
        color: gold;
        text-align: center;
        text decoration: none;
        display: inline-block;
        border-radius: 25px;
        padding: 15px;
	}

a:hover, a:active
	{
	background-color: white;
        color: black;
	}	